In [1]:
"Hello"

'Hello'

In [2]:
a = '"dcbahbcajhb ijuahuicauiahuac 7agingniuiuahmh/ nkjan"'

In [3]:
a

'"dcbahbcajhb ijuahuicauiahuac 7agingniuiuahmh/ nkjan"'

In [5]:
a[:]

'"dcbahbcajhb ijuahuicauiahuac 7agingniuiuahmh/ nkjan"'

In [10]:
u = set()
v = set()

In [11]:
 for i in range(5,0,-1):
    print(i)

5
4
3
2
1

In [16]:
de = dict()
de["po"] = "poiuyt"

fe = dict()
fe["yu"] = "dfghj"

de.update(fe)

In [17]:
de

{'po': 'poiuyt', 'yu': 'dfghj'}

In [1]:
import pandas as pd
df = pd.DataFrame({'state': ['California, United States', 'Texas, United States', 'New York, United States']})

In [6]:
df2 = pd.DataFrame(df["state"].str.split(", "))

In [18]:
df3 = df2.explode("state")

In [20]:
df3[df3["state"] == "United States"].count()

state    3
dtype: int64

In [21]:
raw_data = {'name': ['Willard Morris', 'Al Jennings', 'Omar Mullins', 'Spencer McDaniel'],
'age': [20, 19, 22, 21],
'favorite_color': ['blue', 'red', 'yellow', "green"],
'grade': [88, 92, 95, 70],
'birth_date': ['01-02-1996', '08-05-1997', '04-28-1996', '12-16-1995']}
df = pd.DataFrame(raw_data, index = ['Willard Morris', 'Al Jennings', 'Omar Mullins', 'Spencer McDaniel'])
df

                              name  age favorite_color  grade  birth_date
Willard Morris      Willard Morris   20           blue     88  01-02-1996
Al Jennings            Al Jennings   19            red     92  08-05-1997
Omar Mullins          Omar Mullins   22         yellow     95  04-28-1996
Spencer McDaniel  Spencer McDaniel   21          green     70  12-16-1995

In [28]:
max(pd.DatetimeIndex(df["birth_date"]))

Timestamp('1997-08-05 00:00:00')

In [1]:
data = [{"grass": [1,2,3,4,5]}]
for d in data:
    d["grass"].append(6)

In [2]:
data

[{'grass': [1, 2, 3, 4, 5, 6]}]